@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* iPhone 15 */
@media (min-width: 320px) and (max-width: 340px) {
  html {
    font-size: 12px;
  }
}

/* iPhone 12 Mini, 13 */
@media (min-width: 330px) and (max-width: 350px) {
  html {
    font-size: 13px;
  }
}

/* iPhone 11 Pro */
@media (min-width: 340px) and (max-width: 375px) {
  html {
    font-size: 14px;
  }
}

/* iPhone 12, 13, 14 */
@media (min-width: 350px) and (max-width: 390px) {
  html {
    font-size: 15px;
  }
}

/* iPhone 12 Pro Max, 14 Pro */
@media (min-width: 390px) and (max-width: 430px) {
  html {
    font-size: 16px;
  }
}

/* iPhone 15 Pro, 16 */
@media (min-width: 400px) {
  html {
    font-size: 17px;
  }
}
